.creations-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
}

.creation-card {
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background-color: rgb(61 191 197);
}

.creation-card h3 {
  font-size: 24px;
}

.creation-card img {
  border-radius: 15px;
  width: 300px;
  height: 300px;
}

.creation-card h3 {
  background-color: rgb(61 191 197);
  padding-bottom: 5px;
}
.creation-card p {
  background-color: rgb(61 191 197);
  padding-bottom: 10px;
  font-size: 20px;
}

.details-card {
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
}

.details-card button,
.creation-card button {
  font-size: 16px;
}

.edit-and-delete-btn-sect {
  background-color: rgb(61 191 197);
  place-items: center;
}

.edit-and-delete-btn-sect button {
  margin: 10px;
  margin-top: 0;
  font-size: 16px;
}

.add-to-cart {
  margin-right: 10px;
}

@media (max-width: 1140px) {
  .navbar-container section {
    display: none;
  }
}

@media (max-width: 780px) {
  .creations-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .creations-container {
    grid-template-columns: 1fr;
  }
}
