.navbar-container h1 {
  font-family: "Courgette";
  font-size: 40px;
  background-color: rgb(229 8 72);
}

.navbar-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  background-color: rgb(229 8 72);
}

.navbar-container section {
  display: flex;
  text-align: end;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(229 8 72);
  font-size: 20px;
}

.navbar-container span {
  background-color: rgb(229 8 72);
}

.navbar-container img {
  background-color: rgb(229 8 72);
  width: 30px;
}

.navbar-container a {
  background-color: rgb(229 8 72);
}

.footer {
  bottom: 0;
  width: 100vw;
  position: fixed;
  text-align: center;
  padding: 5px;
  background-color: rgb(229 8 72);
}

.footer p {
  background-color: rgb(229 8 72);
  font-size: 24px;
}

.footer span {
  background-color: rgb(229 8 72);
  font-size: 14px;
}
