.login-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 30%;
  margin-top: 20%;
  background-color: rgb(61 191 197);
  text-align: center;
  padding: 20px;
  gap: 20px;
  font-size: 20px;
  border-radius: 20px;
}

.login-container section,
h2,
p,
a {
  background-color: rgb(61 191 197);
}

.login-container button {
  font-size: 16px;
}

.login-submit {
  padding-top: 20px;
  background-color: rgb(61 191 197);
}
.login-container input {
  background-color: white;
  height: 2em;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  color: black;
  text-align: center;
}

.user-and-pwd {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding-right: 15px;
}

.login-container a:hover {
  color: rgb(229 8 72);
}

.login-container p {
  font-size: 18px;
}
